.expendable-fab {
    position: absolute;
    bottom: 20px;
    right: 20px;

    .fabers-wrapper {
        position: absolute;
        bottom: 0;
        width: 56px;
        height: 300px;
        overflow: hidden;
        bottom: 30px;

        .fabers {
            position: absolute;
            padding: 0 8px;
            transition: all 0.7s ease-in-out;
            bottom: 34px;

            button {
                margin: 4px 0 4px 0;
            }
        }

        .fabers-hide {
            bottom: -200px;
        }
    }
}