<div class="container mt-4 m-auto">
  <div class="row h-100">
    <div class="col-4 h-100 d-flex centered">
      <div class="typeOfServices">
        <!-- <h1 class="text-center">Local Services</h1> -->
        <h6>Micro Services</h6>
        <h6>Monitoring</h6>
        <h6>Data</h6>
        <h6>Proxies</h6>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="col-8 h-100 d-flex centered" style="justify-content: left;">
      <div class="serviceList">
        <div class="service">
          <h4>Kioto UI</h4>
          <p><a class="btn btn-link" href="#">Repo</a></p>
        </div>
        <div class="service">
          <h4>GSC</h4>
          <p><a class="btn btn-link" href="#">Repo</a> API of micro gsc</p>
        </div>
        <div class="service">
          <h4>Cluster</h4>
          <p><a class="btn btn-link" href="#">Repo</a> API of micro cluster</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="envSelector">
  <h5>
    <span class="badge badge-primary">Dev</span>
    <span class="badge badge-secondary">Alpha</span>
    <span class="badge badge-secondary">Beta</span>
    <span class="badge badge-secondary">Prod</span>
  </h5>
</div>