.container {
    height: 100vh;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeOfServices h6 {
    margin: 24px 0 24px 0;
}

.serviceList {}

.service {}

.envSelector {
    position: absolute;
    bottom: 20px;
    right: 20px;
}