.name {
    position: relative;

    svg {
        position: absolute;
        width: 20px;
        height: 20px;
        fill: rgba(51, 51, 51, 0.171);
        left: -10px;
    }

    a {
        color: #333;
        text-decoration: none !important;

        &:hover {
            text-decoration: none !important;
        }
    }
}

p a {
    padding: 5px;
}

.noLink {
    cursor: default;
    color: #888 !important;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #007bff;
}